# The Google Cloud Project ID
project_id           = "my-gcp-project-id"

# The Google Cloud Region for deployment
region               = "gcp-region"

# The Google Cloud Region for the API Gateway (must support API Gateway service)
gateway_region       = "gcp-region" # us-central1 by default

# The Google Workspace user to impersonate (e.g., the actual mailbox owner)
delegated_user_email = "notifications@example.com"

# List of IAM members allowed to call this function via HTTP
invoker_members      = [
  "serviceAccount:my-invoker-sa@my-project.iam.gserviceaccount.com",
  "group:engineering-team@example.com"
]